<div class='container'>
  <div class='row'>
    <div class="col-sm-12">
      <h2>ユーザー情報編集</h2>
      <%= render 'layouts/error', obj: @user %>
      <table>
        <%= form_with model: @user, local:true do |f| %>
          <tr class="form-group">
            <th><%= f.label :名前 %></th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr class="form-group">
            <th><%= f.label :プロフィールアイコン %></th>
            <td><%= f.attachment_field :profileimage %></td>
          </tr>
          <tr class="form-group">
            <th><%= f.label :ステータスメッセージ %></th>
            <td><%= f.text_field :introduction %></td>
          </tr>
          <tr class="form-group">
            <td><%= f.submit '更新' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>