<div class="container">
  <div class='row'>
    <table id="follow_form_<%= @user.id %>">
      <tr>
        <%= attachment_image_tag(@user, :profileimage, :size =>'200x200', fallback: "no-image-icon.jpg") %>
        <h1><%= link_to @user.name, user_path(@user) %></h1>
      </tr>
      <tr>
        <td><h4><%= @user.introduction %></h4></td>
      </tr>
      <%= render 'relationships/follows', user: @user %>
      <tr>
        <% if @user == current_user %>
          <td><%= link_to 'ブックマーク',bookmarks_path %></td>
          <td><%= link_to 'ユーザー設定', edit_user_path(@user) %></td>
        <% end %>
      </tr>
    </table>
    <div class='blog-index'>
      <h2><%= @user.name %>の投稿</h2>
      <%= render 'texts/index',texts: @texts, user: current_user %>
    </div>
  </div>
</div>
