<div>
  <tr>
    <%= attachment_image_tag(@user, :profileimage, :size =>'200x200', fallback: "no-image-icon.jpg") %>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to @user.name, user_path(@user) %></td>
    <td><%= @user.introduction %></td>
    <td>follow:<%= @user.followings.count %></td>
    <td>follower:<%= @user.followers.count %></td>
  </tr>

  <% unless @user == current_user %>
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー済", user_relationships_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
    <% end %>
  <% end %>
  <% if @user == current_user %>
    <%= link_to 'ユーザー設定', edit_user_path(@user) %>
  <% end %>
</div>
<h2>投稿</h2>
<%= render 'texts/index',texts: @texts, user: current_user %>

