<div class='container'>
  <h2>【投稿の検索結果】検索ワード：<%= @content %></h2>
  <div class='row'>
    <div class="col-10">
      <table>
        <thead>
          <tr>
            <th>投稿者名</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |record| %>
            <tr class='tag-lists-box'>
                <td class='tag-lists'>
                <%= link_to record.user.name, user_path(record.user.id) %><br>
                <%= attachment_image_tag(record.user, :profileimage, :size =>'100x100', fallback: "no-image-icon.jpg") %>
              </td>
              <td class='tag-lists'><%= link_to record.title, text_path(record) %></td>
            </tr>
          <% end %>
          <td><%= paginate @records %></td>
        </tbody>
      </table>
    </div>
  </div>
</div>