<div class="container">
  <div class='row'>
    <h4>
      The Old Gangは古いアーケードゲームを専門に扱う情報共有サイトです。</br>
      個人・商業の方など、どなたでもご利用いただけます。
    </h4>
    <% if user_signed_in? %>
      <table class='blog-index'>
        <tr>
          <th class="top-title">最新の投稿</th>
        </tr>
        <% @texts.last(10).reverse.each do |text| %>
          <tr id="text_<%= text.id %>">
            <td class=text-image>
              <%= link_to text_path(text.id) do %>
                <%= attachment_image_tag(text, :image, :size =>'400x300', fallback: "no-image-icon.jpg") %>
              <% end %>
            </td>
            <td class=text-user>
              <%= link_to user_path(text.user.id) do %>
                <%= attachment_image_tag(text.user, :profileimage, :size =>'100x100', fallback: "no-image-icon.jpg") %><br>
                <%= text.user.name %>
              <% end %>
            </td>
            <td class=text-title><%= link_to text.title, text_path(text), class: "text_#{text.id}" %></td>
            <td class=text-datetime>
              投稿日時：<%= text.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td class="bookmark-btn">
              <%= render "bookmarks/bookmarks", text: text %>
            </td>
          </tr>
        <% end %>
        <td class='more'><%= link_to "もっと見る", texts_path %></td>
      </table>

    <% else %>
      <div>
        <h2><%= link_to '新規登録', new_user_registration_path,class: 'fas fa-user-plus nav-link' %></h2>
        <h2><%= link_to 'ログイン', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link'%></h2>
      </div>
    <% end %>
  </div>
</div>
