<% if @model == 'user' %>
  <h3>【ユーザーの検索結果】検索ワード：<%= @content %></h3>
  <% @records.each do |user| %>
    <%= link_to user_path(user) do %>
      <%= attachment_image_tag(user, :profileimage, :size =>'100x100', fallback: "no-image-icon.jpg") %>
      <%= user.name %><br>
    <% end %>
  <% end %>
<% elsif @model == 'text' %>
  <h3>【投稿の検索結果】検索ワード：<%= @content %></h3>
  <table>
    <thead>
      <tr>
        <th>投稿者名</th>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td>
            <%= link_to record.user.name, text_path(record) %><br>
            <%= attachment_image_tag(record.user, :profileimage, :size =>'100x100', fallback: "no-image-icon.jpg") %>
          </td>
          <td><%= record.title %></td>
          <td><%= link_to "詳細", text_path(record) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% Tag.all.each do |tag| %>
    <%= link_to tags_path(tag_id: tag.id) do %>
      <%= tag.name %><br>
    <% end %>
  <% end %>
<% end %>