<div class='container'>
  <div class='row'>
    <div class="col-sm-12 ">
      <h2>投稿編集</h2>
      <%= render 'layouts/error', obj: @text %>
      <table>
        <%= form_with model: @text, local:true do |f| %>
          <tr class="form-group">
            <th><%= f.label :タイトル %></th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr class="form-group">
            <th><%= f.label :本文 %></th>
            <td><%= f.text_area :text %></td>
          </tr>
          <tr class="form-group">
            <th><%= f.label :添付画像 %></th>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr class="form-group">
            <th><%= f.label :タグ（※半角カンマを入れることで複数のタグをつけることができます。）%></th>
            <td><%= f.text_field :tag %></td>
          </tr>
          <tr class="form-group">
            <td><%= f.submit class: 'btn btn-secondary' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
