<h2>新しく投稿する</h2>
<%= form_with model: @text, local:true do |f| %>
  <table>
    <tr class="form-group">
      <th class=form-name><%= f.label :タイトル %></th>
      <td class=form-text><%= f.text_field :title %></td>
    </tr>
    <tr class="form-group">
      <th class=form-name><%= f.label :本文 %></th>
      <td><%= f.text_area :text %></td>
    </tr>
    <tr class="form-group">
      <th class=form-name><%= f.label :添付画像 %></th>
      <td class=form-text><%= f.attachment_field :image %></td>
    </tr>
    <tr class="form-group">
      <th class=form-name><%= f.label :タグ（※半角カンマを入れることで複数のタグをつけることができます。）%><</th>
      <td class=form-text><%= f.text_field :tag %></td>
    </tr>
    <tr class="form-group">
      <%= f.submit '投稿する' %>
    </tr>
  </table>
<% end %>

