<h1>Texts#show</h1>
<table class='table'>
  <tr id="text_<%= @text.id %>">
    <td><%= link_to user_path(@text.user) do %>
      <%= attachment_image_tag(@text, :image, :size =>'400x300', fallback: "no-image-icon.jpg") %><br>
      <%= @text.user.name %>
      <% end %>
    </td>
    <td><%= link_to @text.title, text_path(@text) %></td>
    <td><%= @text.text %></td>
    <td>コメント数：<%= @text.comments.count %></td>
    <td>
      <% @text.comments.each do |comment| %>
        <p><!--%= image_tag('sample-author1.jpg') %--><%= comment.user.name %></p>
        <p><%= comment.created_at.strftime('%Y/%m/%d') %><%= comment %></p>
      <% end %>
    </td>
    <% if @text.user.id == current_user.id %>
      <td><%= link_to 'Edit', edit_text_path(@text) %></td>
      <td><%= link_to 'Destroy', text_path(@text), method: :delete, data: { confirm: '本当に消しますか？' } %></td>
    <% end %>
    <td>
      <%= form_with(model:[@text,@comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメント" %>
        <%= f.submit "送信する" %>
      <% end %>
    </td>

  </tr>

</table>
