<!DOCTYPE html>
<html>
  <head>
    <title>TheOldGang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>The Old Gang</span></a>
          <!--<button>-->
            <!--<span class="navbar-toggler-icon"></span>-->
          <!--</button>-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li><%= link_to ' トップへ',user_path(current_user),class: 'fas fa-home nav-link text-light' %></li>
              <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
            <% else %>
              <li><%= link_to ' トップへ',root_path,class: 'fas fa-home nav-link text-light' %></li>
              <li><%= link_to ' 新規登録', new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %></li>
              <li><%= link_to ' ログイン', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <!--検索機能追加予定-->
    </header>

    <%= yield %>
  </body>
</html>
