<!DOCTYPE html>
<html>
  <head>
    <title>TheOldGang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="d-flex flex-column">
      <div>
        <div>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><h1>The Old Gang</h1></a>
            <div class="collapsee" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <div class="head-content">
                  <li><%= link_to 'マイページへ',user_path(current_user),class: 'fas fa-home nav-link text-light' %></li>
                  <li><%= link_to '新規投稿',new_text_path,class: 'fas fa-home nav-link text-light' %></li>
                  <li><%= link_to 'タグ一覧',tags_path,class: 'fas fa-home nav-link text-light' %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %></li>
                </div>
                <li class= 'fas fa-sign-out-alt nav-link text-light'><%= render 'searchs/form' %></li>
              <% else %>
              <% end %>
              </ul>
            </div>
            <h3 class="navbar-brand">logodesign!</h3>
          </nav>
        </div>
      </div>
    </header>
    <main class="flex-low">
      <%# if 画面幅Small(768px)未満で非表示 do %>
        <% if user_signed_in? %>
          <div class="side-content">
            <div class="collapsee sidebar" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li><%= link_to 'マイページへ',user_path(current_user),class: 'fas fa-home nav-link sidebar-text' %></li>
                <li><%= link_to '新規投稿',new_text_path,class: 'fas fa-home nav-link sidebar-text' %></li>
                <li><%= link_to 'タグ一覧',tags_path,class: 'fas fa-home nav-link sidebar-text' %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link sidebar-text' %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <%# end %>
      <div class="main-visual">
        <%= yield %>
      </div>
    </main>
    <footer class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><h4>トップページへ</h4></a>
        <div class="container">
          <h5 class="footer-text">©the_old_gang.Inc</h5>
        </div>
      </nav>
    </footer>
  </body>
</html>
